<div class="center">
<img src="img/fvc.jpg" alt="FIRST Vex Challenge" height="238" width="250">
<br><br>
<h2>FIRST Robotics 2007 National Champion</h2>
<br>
<p>In my Junior year of high school, for the 2006-2007 school year, I joined my school's FIRST Vex Challenge robotics team.  The goal was to build a robot that could complete the season's selected challenge while facing off against an opposing team.  We worked out of one of the team member's family's garages, and after a series of official local challenges, we won our way into the championship in Atlanta, Georgia.  In Atlanta, we came in first place in the championship along with 2 other teams, who were our ally teams for the final round.  Our team was number 3230, named "EMP."  My primary duty on the team was the robot builder and driver, and I also did some of the programming.
</p>
<br>
<a href="http://www.techbrick.com/Lego/Lego2006/Documents/Atlanta2007FIRSTPressRelease.pdf" target="_blank">Official Press Release</a><br>(Warning: .pdf)<br>
<a href="http://en.wikipedia.org/wiki/Hangin%27-A-Round" target="_blank">Wikipedia Article on the Challenge</a><br><br>
<a href="http://newsletter.hightechhigh.org/05-15-2007/index.php?page=6" target="_blank">High School Newsletter</a><br> (Second Article From the Bottom)
</div>
