<div class="center">
<img src="img/mark.jpg" alt="Mark Escobedo" height="513" width="400">
<br>
<br>
<p>Hailing from San Diego, I graduated with a BS in Computer Science: Computer Game Design from the Jack Baskin School of Engineering at the University of California, Santa Cruz.
  I have been a gamer ever since I was old enough to use my thumbs to play a Space Invaders handheld my mother gave me.
  My first experience with game development came during high school when I discovered modding tools for Halo PC, allowing me to create all sorts of wacky creations.
  I have experience with Java, Javascript, HTML5, C#, PHP, C++, and Python.  I pride myself on my versatility, being able to take on many tasks of different natures and do them well.  
  I am also big on code efficiency; if there is a way to make something cleaner or run faster, I will find it.  
  I won't quit until a problem is solved.</p>
<br><br>
<p>I recently finished work as a contracted programmer for the Santa Clara Valley Water District.
  I was contracted to create a game with the goal of engaging children who are too old for coloring books and teaching them not to pollute storm drains.
  You can see the game here or on my projects page.</p>
<br><br>
<p>For my senior capstone project at UCSC, I worked on a base defense game with a unique twist to it.
  You can read all about the game, Firewall, as well as my other student projects from throughout my time at UCSC by navigating to the "Education" tab above.</p>
<br><br>
<p>When I'm not programming, I enjoy playing video games, hanging out with friends, building things, and blowing things up.</p><br><br><br><br>
</div>
