/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/

html {
	overflow-y: scroll;
}


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #38373C;
	text-align:center;
}

a, a:visited {
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	margin:10px auto 3px;
	background-color:#EF4D23;
	font-weight:bold;
	border-radius:4px;
	font-size:16px;
	text-decoration:none;
	
	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

a:hover{
	text-decoration:none;
	color:#515A5F;
}

a.broken, a.broken:visited {
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	margin:10px auto 3px;
	background-color:#CC4040;
	font-weight:bold;
	border-radius:4px;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
	
	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

a.broken:hover{
	text-decoration:none;
	background-color:#FF8484;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The menu
--------------------------*/
h1 {
	margin:20px auto 5px;
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	font-weight:bold;
	font-size: 40px;
}

h4 {
	color:#7E7C83;
	font-style:italic;
}

nav{
	display:inline-block;
	margin:10px auto 25px;
	background-color:#5D8B5F;
	box-shadow:0 1px 1px #ccc;

}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	margin:0px;
	border-radius:0px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:hover{
	text-decoration:none;
	background-color:#4A6F4C;
}



nav.home .home,
nav.projects .projects,
nav.education .education,
nav.work .work,
nav.contact .contact{
	background-color:#8EAE8F;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}


p{
	font:15px/1.3 'Open Sans', sans-serif;
	text-align:center;
	color:#38373C;
	
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#5D8B5F;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}