<div class="center">
<img src="img/hthi.jpg" alt="High Tech High International" height="265" width="500">
<br><br>
<h2>High Tech High International</h2>
<h4>High School Diploma</h4>
<h4>September 2004 - June 2008</h4><br>
<p>I went to a very unconventional high school, one that focused on project based learning and where we addressed our teachers by their first names.  
My time at HTHI was one of the best experiences of my life, and it's where I discovered that working in groups with a common goal is something that really puts me in my element.
</p><br>
<h3>Notable Accomplishments:</h3>
<a href="#/robots">FIRST Robotics 2007 National Champion</a><br>
</div>