<div class="center">
<img src="img/santaclara.jpg" alt="Santa Clara Valley Water District" height="149" width="260">
<br><br>
<h2>Santa Clara Valley Water District</h2>
<h4>February 2014 - April 2014</h4><br>
<p>I was contracted by the Santa Clara Valley Water District to carry out a project for a grant to the City of Morgan Hill, for use in their schools.  
I created a game with the goal of engaging students who are too old for coloring books.  I did all the programming and all of the art.  
The game teaches students a lesson about the effects of putting trash down storm drains.  You can see and play a live version of the game by clicking on the link below.</p><br>

<a href="http://zyphxion.github.io/ordtd/" target="_blank">Click to view the game</a>

</div>
