<div class="center">
	<progress id='totalbar' max={{data.max}} value ={{data.total}}></progress><br>
	<h3>How much customization does your app need?</h3><br>
	<a href="#/login" class="login" ng-click="data.customization='stock'">Stock/Default</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='full'">Fully customized</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='custom'">Custom, similar to existing</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='unsure'">Not sure</a><br><br>
</div>
