<div class="center">
<img src="img/firewall.png" alt="Firewall" height="175" width="600">
<br><br>
<h2>FIREWALL</h2>
<br>
<h4>Firewall won the Design Innovation Award at the 2012 UCSC Sammy Awards!</h4>
<a href="http://games.soe.ucsc.edu/winners">More info here</a><br>
<br>
<h4>See a more in-depth description, concept art, developer blogs, and more at:</h4>
<a href="www.firewallgame.com">Our Website</a>
<br><br>
<p>Firewall is a base defense game that I helped develope for my senior game design class.  Using Microsoft XNA and C#, I created this game with 10 other game design seniors, as well as 11 others who created the art and music for the game. In Firewall, the player takes control of a powerful hero unit in a world in which artificial intelligences, used to control war machines, have gone rogue and turned on their human creators. The player uses his hero unit along with a small army of units controlled by player defined AI to protect his base in the physical world. When an enemy unit is defeated, the AI that is controlling it returns to cyberspace and tries to escape back to its own base to take control of a new war machine, thus restarting its assault on the player. The hero unit is capable of projecting itself into cyberspace in order to place traps and towers to slow and stop the fleeing AI, with the goal defeating the AI in its true form.

The game has finished development, and even though the school year is over and our team has graduated, we are still looking at various release outlets.  Below is the trailer for the release version of our game.</p>
<br>
<h4>Trailer</h4>
<iframe width="560" height="315" src="//www.youtube.com/embed/RPB5TJqe7HE" frameborder="0" allowfullscreen></iframe><br>
<p>However the game didn't always look like that.  The two videos below show our two different prototypes that were created during the early design phase: the first demonstrates the behavior tree system we are going to use for building the player's units, and the second shows the flow of gameplay.</p>
<br>
<h4>Prototype Videos</h4>
<iframe width="420" height="315" src="//www.youtube.com/embed/6JvuKXzllkc" frameborder="0" allowfullscreen></iframe>
<p>The player units' AI is implemented in the form of behavior trees, and this structure will is revealed to the player. When the player creates a unit, he can enable and disable various behaviors within the behavior tree to determine the overall behavior of that unit.  The player must be careful, however.  If the player makes his units with too complex AI, there is a chance the AI could turn on the player, becoming self aware and joining the enemy team.  Below is a short video prototyping this mechanic.</p>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/U72im8EY0fA" frameborder="0" allowfullscreen></iframe>
<p>I pretty much single-handedly built this prototype in a few short days in Game Maker 8.  You can see the player move around and shoot with the hero while building units that move out from his base. When an enemy unit is defeated, a digital unit is created and the player must either build basic units in cyberspace to defeat the enemy, shift into cyberspace with the hero unit to manually destroy the enemy, or do a combination of both.</p>
<br>
<h4>My Contribution</h4>
<p>In addition to building the gameplay prototype shown above, I also single-handedly built a revised cyberspace prototype (not shown) which uses nodes connected by paths that the enemies and player move on, as well as defense towers and traps known as "firewalls" to slow and defeat the escaping enemies.  That prototype much closely represents the actual direction our team took the mechanics of cyberspace in the actual game.</p><br>
<p>As for the production process on the actual game, which began in January 2012, I was one of two people working on the game's engine.  I was primarily responsible for designing and implementing the collision detection system.  I helped design the UML and class structure, and was in charge of the math behind colliding shapes.  In addition, I worked on the various weapons in the game, as well as the hero unit's special abilities.  Toward the polish phase of our design process, I single-handedly designed and implemented the overwhelming majority of the particle effects that you will see in the game.</p>
<br><br>
<a href="#/ucsc">Back to UCSC</a><br><br>
</div>
