<div class="center">
<img src="img/dragon.png" alt="Dragon Research and Engineering" height="136" width="137">
<br><br>
<h2>Dragon Research and Engineering</h2>
<h4>July 2013 - September 2013</h4><br>
<p>At Dragon Research and Engineering I worked full time as a Software Engineer.  
I was hired on for a few months to fix bugs and implement last minute feature requests before the project shipped. 
The project was a web based rapid information transmission system.
I worked with an in-house web framework that primarily used Java and Javascript.
</p>
<br>
</div>
