<div class="center">
<img src="img/keystoke.png" alt="Keystoke">
<br><br>
<h2>Disney Mobile</h2>
<h4>August 2014 - Present</h4><br>
<p>At Keystoke I am the sole developer for a multitude of MEAN stack projects for our business clients.  
Every day I work with with Cordova, Ionic, & WordPress on a variety of projects for mobile and web.
Created the company's premier product, the Sandbox app, which can be viewed at beta.keystoke.com.
Part of my regular duties include communicating directly with clients. On the job I learn new programming languages as needed so client's applications can be created using the language that works best for their goals.</p>
<br>
<img src="img/curb.jpg" alt="Curb">
<img src="img/wholesome.png" alt="Wholesome Grub" >
<img src="img/sandbox.png" alt="Tiny Death Star" >
</div>
