<div class="center">
<img src="img/thinkertoys.jpg" alt="Thinker Toys" height="300" width="400">
<br><br>
<h2>Thinker Toys</h2>
<h4>June 2010 - May 2012</h4>
<h4>October 2013 - January 2014</h4><br>
<p>I worked at Thinker Toys in Morgan Hill, CA.  While mostly a part time job, there was one instance where I had to act as a stand in manager for 9 days while both the manager and the owner were on vacation.  This job helped me further improve my communication and customer relation skills.</p><br>

</div>

