<div class="center">
<h2>Minigolf</h2>
<br>
<h4>Video Demo</h4>
<iframe width="420" height="315" src="//www.youtube.com/embed/j7LA16JrVcU" frameborder="0" allowfullscreen></iframe><br><br>
<p>This was done in the Spring quarter of 2011 at UCSC by Wesley Hsiao and myself as part of our class on game engines.  In this project we implemented different engine components in stages using C++ and OpenGL, with the ultimate goal of creating a playable, 3D minigolf game with realistic collision and physics.  I'm am quite proud of this project, and the skills I learned, such as 3D vector and matrix math, helped me a lot on my senior project, Firewall.</p>
<br><br>
<a href="#/ucsc">Back to UCSC</a><br><br>
</div>
