<div class="center">
<h2>Sustain and Defend</h2>
<br>
<p>This was my first game I created as a game design student at UCSC, in Winter Quarter 2010.  For this game, I worked on the sprite art, the music, and the collision code, as well as some of the underlying "resource harvesting" mechanics.  This game was written in Microsoft XNA and C#.  Looking back on this game, it's really cool to see how far I've come since then.</p>
<br>
<img src="img/sustain1.jpg" width="400" height="auto"><br>
<img src="img/sustain2.jpg" width="400" height="auto"><br>
<img src="img/sustain3.jpg" width="400" height="auto"><br>
<img src="img/sustain4.jpg" width="400" height="auto"><br><br>
<a href="#/ucsc">Back to UCSC</a><br><br>
</div>